################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/InternetProvider/.vs/InternetProvider/v16/Server/sqlite3/db.lock
